<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.raptor.com/mcblockstate/Mcblockstate"
			class = "com.raptor.mcblockstate.mcblockstate.McblockstatePackage"
			genModel = "model/generated/Mcblockstate.genmodel" />
	</extension>
</plugin>
