<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.raptor.com/mcmodel/Mcmodel"
			class = "com.raptor.mcmodel.mcmodel.McmodelPackage"
			genModel = "model/generated/Mcmodel.genmodel" />
	</extension>
</plugin>
